@font-face {
	font-family: "Bello, Script";
	src: url(images/Bello-Script.ttf);
}

body {
	padding: 0;
	margin: 0;
}

#main {
	position: relative;
	background-color: black;
	margin: auto auto;
	width: 100%;
	height: 100%;
	background: url('images/HG_Loesung.jpg');

	font-family: "DejaVu Sans";
}

#question {
	position: absolute;
	top: 110px;
	left: 70px;
	width: 500px;
	height: 130px;

	font-size: 13px;
	display: block;
	padding-top:5px;
	padding-left: 55px;
	padding-right: 15px;
	line-height: 13px;
	display: block;
	text-decoration: none;
    color: white;
}

#answer {
	position: absolute;
	left: 70px;
	width: 500px;
	top: 220px;
	height: 210px;

	font-size: 13px;
	line-height: 21px;
}

#answer_text {
    color: white;
}

#answer_0, #answer_1, #answer_2, #answer_3 {
	position: absolute;
	width: 225px;
	height: 53px;
    padding-left:50px;
    color:black;
}

#answer_0 {
	top: 280px;
	left: 25px;
	background: url('images/Button_0_ungeklick.gif');
}

#answer_1 {
	top: 280px;
	right: 25px;
	background: url('images/Button_1_ungeklick.gif');
}

#answer_2 {
	top: 355px;
	left: 25px;
	background: url('images/Button_2_ungeklick.gif');
}

#answer_3 {
	top: 355px;
	right: 25px;
	background: url('images/Button_3_ungeklick.gif');
}
