@font-face {
	font-family: "Bello, Script";
	src: url(images/Bello-Script.ttf);
}

body {
	padding: 5% 20% 5%;
	margin: 0;
	background-color:black;

}

#main {
	background-color: black;
	width: 100%;
	height: 100%;
	background-image: url('images/HG_Loesung.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    overflow:hidden;
	font-family: "DejaVu Sans";
    padding:0px 0px 0px;
}

#question {
    float:left;
    margin: 0 0 0;
    width:100%;
    height:30%;
    padding-top:17%;
    padding-left:12%;
	font-size: 150%;
	line-height: 100%;
	display: block;
	text-decoration: none;
    color: white;
}

#answer {
    margin:0 0 0;
    padding:0 0 0;
    float:left;
    width:100%;
}

#answer_text {
    color: white;
    width: 70%;
    font-size:30px;
    padding-left:12%;
    padding-right:12%;
}

#answer_0, #answer_1, #answer_2, #answer_3 {
    margin:0% 5% 3%;
	width: 30%;
    height:9%;
    float:left;
    padding-left:10%;
    padding-top:2%;
    color:black;
    background-size:100%;
    background-repeat:no-repeat;
}

#answer_0 {
	background-image: url('images/Button_0_ungeklick.gif');
}

#answer_1 {
	background-image: url('images/Button_1_ungeklick.gif');
}

#answer_2 {
	background-image: url('images/Button_2_ungeklick.gif');
}

#answer_3 {
	background-image: url('images/Button_3_ungeklick.gif');3}
